In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2020-12-29 23:59:47,-23.12,-134.97,78.06,75,84,7.76
1,1,Mar Del Plata,AR,2020-12-29 23:58:21,-38.00,-57.56,72.00,88,0,12.75
2,2,Port Elizabeth,ZA,2020-12-29 23:59:48,-33.92,25.57,66.20,82,0,6.93
3,3,Ushuaia,AR,2020-12-29 23:59:48,-54.80,-68.30,51.80,50,75,24.16
4,4,Hilo,US,2020-12-29 23:59:48,19.73,-155.09,80.60,69,75,16.11

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use Google API key.
gmaps.configure(api_key = g_key)

In [5]:
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp], dissipating = False, max_intensity = 300, point_radius = 4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2020-12-29 23:59:47,-23.12,-134.97,78.06,75,84,7.76
4,4,Hilo,US,2020-12-29 23:59:48,19.73,-155.09,80.60,69,75,16.11
14,14,Saint-Philippe,RE,2020-12-29 23:59:50,-21.36,55.77,75.20,73,0,13.87
19,19,Kapaa,US,2020-12-29 23:59:52,22.08,-159.32,80.60,69,40,6.93
20,20,Carnarvon,AU,2020-12-29 23:59:52,-24.87,113.63,77.00,94,36,11.41
27,27,Padang,ID,2020-12-29 23:59:53,-0.95,100.35,78.24,75,98,3.24
29,29,Dutlwe,BW,2020-12-29 23:59:54,-23.98,23.90,77.85,53,41,7.52
35,35,Leeton,AU,2020-12-29 23:59:08,-34.57,146.40,86.00,44,0,10.29
36,36,Pangkalanbuun,ID,2020-12-29 23:59:56,-2.68,111.62,75.67,91,84,3.24
43,43,Itacare,BR,2020-12-29 23:59:58,-14.28,-39.00,75.20,88,40,2.24

In [12]:
preferred_cities_df.count()

City_ID       152
City          152
Country       152
Date          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
0          Rikitea      PF     78.06 -23.12 -134.97
4             Hilo      US     80.60  19.73 -155.09
14  Saint-Philippe      RE     75.20 -21.36   55.77
19           Kapaa      US     80.60  22.08 -159.32
20       Carnarvon      AU     77.00 -24.87  113.63
27          Padang      ID     78.24  -0.95  100.35
29          Dutlwe      BW     77.85 -23.98   23.90
35          Leeton      AU     86.00 -34.57  146.40
36   Pangkalanbuun      ID     75.67  -2.68  111.62
43         Itacare      BR     75.20 -14.28  -39.00

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,78.06,-23.12,-134.97,Pension Maro'i
4,Hilo,US,80.60,19.73,-155.09,Hilo Hawaiian Hotel
14,Saint-Philippe,RE,75.20,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
19,Kapaa,US,80.60,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
20,Carnarvon,AU,77.00,-24.87,113.63,Hospitality Carnarvon
27,Padang,ID,78.24,-0.95,100.35,Mercure Padang
29,Dutlwe,BW,77.85,-23.98,23.90,
35,Leeton,AU,86.00,-34.57,146.40,Historic Hydro Motor Inn
36,Pangkalanbuun,ID,75.67,-2.68,111.62,Grand Kecubung Hotel
43,Itacare,BR,75.20,-14.28,-39.00,Ecoporan Hotel Charme Spa & Eventos

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))